data/postings.csv
data/ds_postings_filtered.csv
data/ds_postings_with_skills.csv
data/ds_resumes_with_skills.csv
data/posting_embeddings.npy
data/resume_embeddings.npy
Resume/

__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
venv/
.env

.DS_Store
.vscode/
.idea/
